/*Added By Karen*/
.ph-g-wp-popup-head {
    display: inline-block;
    position: relative;
    margin-left: 5%;
}

.ph-g-wp-popup-content {
    margin-top: 5px;
    left: 5%;
    position: absolute;
    width: 90%;
}

.ph-g-wp-view-mode-thumb {
    display: none;
}

.ph-g-wp-gallery-tbl,.ph-g-wp-gallery-tbl-head  {
    background: #FFFFFF;
    color: #000000;
}

.ph-g-wp-gallery-tbl, .ph-g-wp-thumb-div {
    cursor: pointer;
}

.ph-g-wp-gallery-tbl-selected  {
    border-right: 3px solid #0085ba;
}

.ph-g-wp-inline {
    display: inline-block;
    vertical-align: middle;
    width: 30%;
}

.ph-g-wp-img {
    width: 100px !important;
}

.ph-g-wp-inline img {
    height: 45px;
    width: 60px;
}

.ph-g-wp-popup-btn {
    border: none;
    background: transparent;
    height: 35px !important;
    vertical-align: middle;
}
.ph-g-wp-popup-active {
    outline: 1px solid #0085ba;
}

.ph-g-wp-thumb-div img {
    height: 75px;
    width: 100px;
}

.ph-g-wp-thumb-div {
    border: 1px solid #b1b1b1;
    border-radius: 3px;
    display: inline-block;
    margin: 5px;
    padding: 5px;
}
.ph-g-wp-thumb-div-selected  {
    border: 1px solid #0085ba;
}
